<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Post</title>

</head>
<body>
    <form method="post" action="/posts/<%= post.id %>?_method=PATCH">
        <h1> Edit the Content </h1>
        <textarea name="likhacontent"> <%= post.content %></textarea>
        <button> submit</button>
    </form>
    <sript src="/form2.js">
</body>
</html>