<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>form</title>
    <link href="/form.ejs" rel="stylesheet">
</head>
<body>
    <form method="post" action="/posts">
        <input placeholder=" Enter username" name="username">
       <input placeholder=" Enter Content" name ="content" >
        <button> SUBMIT form </button>
    </form>
</body>
</html>