<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>show post in detail</title>
</head>
<body>
    <h1>here is your post in detail</h1>
   
    <div class="border">
        <h3 class="user"> post id : <%= post.id %></h3>
        <h3 class="user"> username  : <%= post.username %> </h3>
        <h3 class="user"> content : <%= post.content%> </h3>
        <a href="http://localhost:8080/posts"> goback</a>
    </div>


    
</body>
</html>